:root{
    --first: #23a6d5;
    --second: #e73c7e;

    --yellow: #FEE622;
    --orange: #F49237;
    --grey: #DBDBDB;
    --red: #F6522C;
    --blue: #23a6d5;
    --purple: #760fcb;
    --black: #262626;
    --pink: #b369b8;
}

html body{
    font-family:sans-serif;
    padding: 0;
    margin: 0;
}

/**** Specific ***/
/* nav */
.my-navbar{
    font-size: 22px;
    z-index: 100;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    /*box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;*/
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0;
}

.navbar-brand{
    width: 150px;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    background-color: white;
    color: var(--first);
    font-family: "Agency FB", serif;
    height: 65px;
    padding-top: 10px;
    transition: 0.5s;
    margin: 0;
}

.navbar-brand:hover{
    color: var(--second);
}

.nav-link{
    color: var(--first);
    padding: 20px 40px !important;
    height: 100%;
}

.nav-link:hover{
    color: whitesmoke;
}

.nav-item{
    transition: 0.5s;
}

.nav-item:hover{
    background-color: var(--first);
    color: whitesmoke;
}

/* main content */
main{
    display: flex;
    overflow: hidden;
    height: calc(100vh - 80px);
    position: absolute;
    top: 80px;
}

#main-content{
    padding: 35px 280px;
    overflow: auto;
}

.main-subtitle{
    font-size: 25px;
    margin: 20px 0;
}

.main-figure{
    width: 100%;
    /*border: 2px solid var(--first);*/
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    margin-bottom: 20px;
}

.figure-caption{
    text-align: center !important;
    font-size: 25px;
    margin-bottom: 20px;
}

#main-content p{
    font-size: 20px;
    text-align: justify;
    text-justify: inter-word;
}


/* content nav bar */
.doc-nav{
    padding-top: 30px;
    padding-bottom: 30px;
    width: 330px;
    height: calc(100vh - 80px);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    flex: 1 0 auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.doc-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.doc-item{
}

.doc-item:hover{
}

.doc-link{
    text-decoration: none;
    color: var(--black);
    display: block;
    padding: 10px 12px;
    transition: 0.25s;
    width: 320px;
}

.doc-link:hover{
    background: var(--first);
    color: white;
}

.doc-link-level1{
    font-size: 20px;
    padding-left: 20px;
}

.doc-link-level2{
    font-size: 18px;
    padding-left: 40px;
}

.doc-link-level3{
    font-size: 16px;
    padding-left: 60px;
}

.doc-link-level4{
    font-size: 14px;
    padding-left: 80px;
}


/* footer */
#footer{
    width: 100%;
    height: 200px;
    background: var(--first);
}