:root{
    --primary: #00a8ce;
    --secondary: #edc7b7;
    --third: #00838d;
    --gray: #f2f8f9;
    --red: lightcoral
}

body{
    font-family: mukta, serif ;
}

a{
    transition: 0.5s;
}

a:hover{
    color: var(--secondary);
    transition: 0.5s;
    cursor: pointer;
}

/*
Font
*/
@font-face {
    font-family: mukta;
    src: url("plugin/font/Mukta-Regular.ttf");
}

/***
****** General ******
***/
.one-page{
    height: 100vh;
}

.font-colorful{
    color: var(--secondary);
}

/* scrollbar */
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 10px;
    background-color: #FFFFFF;
}

::-webkit-scrollbar-thumb
{
    background-color: var(--primary);
}

/***
****** Specific ******
***/
/*** Left sidebar ***/
#left-sidebar{
    background-color: white;
    color: var(--primary);
    position: relative;
    padding: 0;
}

.brand{
    padding-top: 50px;
}

.brand-logo{
    width: 160px;
    margin-bottom: 15px;
}

.brand-title{
    font-weight: bold;
    font-size: 30px;
}

.user{
    margin-top: 100px;
    padding-top: 100px;
    position: relative;
    z-index: 1;
}

.user-info{
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 20px;
}

.user-role{
    clear: both;
    color: var(--secondary);
}

.user-icon-container{
    width: 100%;
    height: 80px;
}

.user-icon{
    height: 70px;
    width: 70px;
    border-radius: 20%;
    transition: 0.5s;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.user-icon:hover{
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.user-icon-select{
    /*box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
    border: solid 5px var(--secondary);
    z-index: 1;
}

.user-icon-nonselect{
    border: solid 5px white;
    z-index: 0;
}

.user-icon-enquirer{
    transform: translateX(37px);
}

.user-icon-expertise{
    transform: translateX(-37px);
}

.conversation-opts{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 50px;
}

.conversation-opts-link{
    font-size: 30px;
    color: var(--primary);
}

.opts-expertise{
    display: none;
}

/*.lef-navbar{*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*}*/

/*.navbar-nav{*/
/*    border-top: solid 2px var(--primary);*/
/*    width: 100%;*/
/*    !*border-bottom: solid 2px var(--primary);*!*/
/*}*/

/*.my-nav-item{*/
/*    width: 100%;*/
/*    !*border-top: solid 2px var(--primary);*!*/
/*    height: 60px;*/
/*    padding: 12px;*/
/*    font-weight: bold;*/
/*}*/

#chat_container{
    padding: 0;
    transition: 0.5s;
    background: var(--primary);
    background: linear-gradient(90deg, rgba(0,168,206,1) 0%, rgba(1,199,244,1) 100%);
    overflow: hidden;
    position: relative;
    z-index: 0;
}

/*** Middle page ***/
#middle-page{
    height: 100%;
    width: 100%;
    /*background: greenyellow;*/
    position: relative;
}

.enquires-page-expertise{
    display: none;
}

.enquire-wrapper > .conversation-card{
    display: inline-table !important;
    width: 200px !important;
}

.enquire-wrapper{
    padding: 20px;
    transition: 0.5s;
    text-align: center;
}

/* Conversation dialog */
.conversation-wrapper{
    height: 100vh;
    width: 100%;
    padding-top: 10px;
    overflow: auto;
    padding-bottom: 80px;
}

.conversation-dialog{
    min-height: 100px;
    width: 80%;
    /*background: white;*/
    margin: 20px auto;
    display: flex;
    box-shadow: rgba(33, 35, 38, 0.2) 0px 10px 10px -10px;
    /*padding-bottom: 10px;*/
}

.dialog-portrait{
    width: 80px;
    margin-right: 20px;
    text-align: center;
    padding-top: 5px;
}

.dialog-portrait-name{
    color: var(--secondary);
    font-weight: bold;
    margin: 0;
}

.dialog-portrait-img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 4px solid var(--secondary);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/*.dialog-expertise>.dialog-portrait>.dialog-portrait-img{*/
/*    border: 4px solid var(--red);*/
/*}*/

/*.dialog-expertise>.dialog-portrait>.dialog-portrait-name{*/
/*    color: var(--red);*/
/*}*/

.dialog-msg-wrapper{
    /*background-color: lawngreen;*/
    padding: 10px;
    width: 100%;
}

.dialog-msg{
    background-color: var(--third);
    color: white;
    padding: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 6px;
    display: table;
    transition: 0.5s;
}

.dialog-msg-editing{
    background-color: lightcoral;
    transition: 0.5s;
}

.dialog-option{
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 0;
}

.option{
    background: var(--gray);
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    color: dimgray;
    margin-right: 8px;
    white-space: nowrap;
    display: inline-block;
    transition: 0.5s;
}

.option:hover{
    background: var(--secondary);
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.option-active{
    background: var(--secondary);
    color: white;
}

/* Input bar */
.input-wrapper{
    width: 100%;
    height: 100px;
    padding-top: 20px;
    position: absolute;
    bottom: 0;
    display: none;
}

.input-msg{
    width: 70%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
}

.btn-msg{
    background: var(--third);
    transition: 0.5s;
    color: white;
    padding-top: 14px;
}

.btn-msg:hover{
    background: #00838d80;
    color: white;
}

#msgInput{
    height: 50px;
}

/* addons */
.addon{
    font-weight: bold;
    color: var(--secondary);
    text-decoration: none;
}

.addon-principle{
    color: white;
}

.addon-link{
    color: lightcoral;
}

.addon-link:hover{
    color: var(--secondary);
}

/* bottom bar */
.reminder-wrapper{
    width: 100%;
    height: 100px;
    padding-top: 20px;
    position: absolute;
    bottom: 0;
    text-align: center;
    display: none;
}

.bottom-reminder{
    width: 80%;
    height: 40px;
    margin: auto;
    background-color: lightblue;
    padding: 9px 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    opacity: 0.8;
}

/*** Right sidebar ***/
#right-sidebar{
    height: 100vh;
    overflow: auto;
    width: 270px;
    background: white;
    float: right;
    margin-right: -270px;
    position: absolute;
    right: 0;
    top: 0;
}

.rightbar-title-container{
    padding-top: 10px;
    width: 100%;
    text-align: center;
    /*border-bottom: solid 2px var(--secondary);*/
}

.rightbar-title{
    color: var(--primary);
    font-size: 25px;
    font-weight: bold;
}

/* Conversation Card */
.conversation-card {
    display: block;
    position: relative;
    max-width: 262px;
    max-height: 170px;
    background-color: var(--gray);
    border-radius: 4px;
    padding: 20px;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    cursor: pointer;
    color: dimgray;
}

.conversation-card:before {
     content: "";
     position: absolute;
     z-index: -1;
     top: -16px;
     right: -16px;
     background: var(--third);
     height: 32px;
     width: 32px;
     border-radius: 32px;
     transform: scale(1);
     transform-origin: 50% 50%;
     transition: transform 0.25s ease-out;
}

.conversation-card:hover:before {
     transform: scale(21);
 }

.conversation-card:hover p{
    transition: all 0.3s ease-out;
    color: rgba(255, 255, 255, 0.8);
}

.conversation-card:hover .con-card-subtitle{
    color: var(--secondary);
}

.con-card-title{
    font-weight: bold;
    font-size: 20px;
    width: 190px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.con-card-subtitle{
    font-weight: bold;
    color: var(--primary);
}

.con-card-content{
    width: 190px;
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color: var(--third);
    border-radius: 0 4px 0 32px;
}

.card-remove {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
}