{% extends "marketplace.html" %}

{% block content %}
    <div id="cover">
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div class="tb">
                <div class="td"> {{ form.search(size=50, maxlength=200, placeholder="Search") }}  </div>
                <div class="td" id="s-cover">
                    <button type="submit">
                    <div id="s-circle"></div>
                    <span></span>
                    </button>
                 </div>
             </div>
         </form>
    </div>
    <div class="card-container container-fluid">
        <div class="row">
            {% for sc in showcases %}
            <div class="col-lg-4 market-card-wrapper">
                <div class="card">
                    <img src="{{file_prefix}}{{ sc.image }}" alt="">
                    <div class="card-content">
                        <h2>{{ sc.name }}</h2>
                        <p>{{ sc.description }}</p>
                        <a class="card-btn" href="{{sc.blog_url}}">Learn More</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
