:root{
    --first: #23a6d5;
    --second: #e73c7e;

    --yellow: #FEE622;
    --orange: #F49237;
    --grey: #DBDBDB;
    --red: #F6522C;
    --blue: #23a6d5;
    --purple: #760fcb;
    --black: #262626;
    --pink: #b369b8;
}

html body{
    font-family:sans-serif;
    padding: 0;
    margin: 0;
}

/**** Specific ***/
/* nav */
.my-navbar{
    font-size: 22px;
    z-index: 100;
    /*background-color: var(--blue);*/
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    width: 100%;
    height: 80px;
    position: fixed;
}

.navbar-brand{
    width: 150px;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    background-color: white;
    color: var(--first);
    font-family: "Agency FB", serif;
    height: 65px;
    padding-top: 10px;
    transition: 0.5s;
    margin: 0;
}

.navbar-brand:hover{
    color: var(--second);
}

.nav-link{
    color: var(--first);
    padding: 20px 40px !important;
    height: 100%;
}

.nav-link:hover{
    color: whitesmoke;
}

.nav-item{
    transition: 0.5s;
}

.nav-item:hover{
    background-color: var(--second);
    color: whitesmoke;
}

/* main content */
#main-content{
    padding-top: 100px;
}