@font-face {
    font-family: Roboto;
    src: url("../plugin/font/Roboto-Regular.ttf");
}

@font-face {
    font-family: Exo;
    src: url("../plugin/font/Exo2-VariableFont_wght.ttf");
}

@font-face {
    font-family: Ubuntu;
    src: url("../plugin/font/Ubuntu-Regular.ttf");
}

@font-face {
    font-family: Ubuntu-bold;
    src: url("../plugin/font/Ubuntu-Bold.ttf");
}

:root{
    --first: #7ec6b8;
    --second: #e73c7e;

    --yellow: #FEE622;
    --orange: #F49237;
    --grey: #DBDBDB;
    --red: #F6522C;
    --blue: #23a6d5;
    --purple: #760fcb;
    --black: #262626;
    --pink: #b369b8;
}

html body{
    font-family:Ubuntu, serif;
    /*font-family: sans-serif;*/
    padding: 0;
    margin: 0;
}

i{
    margin: 3px;
}

/**** Specific ***/
/* nav */
.my-navbar{
    font-size: 22px;
    z-index: 100;
    background-color: white;
    /*box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;*/
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    width: 100%;
    height: 80px;
    top: 0;
    position: fixed;
}

.navbar-brand{
    width: 150px;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    background-color: white;
    color: var(--first);
    font-family: Exo, serif;
    height: 65px;
    padding: 4px 30px;
    transition: 0.5s;
    margin-right: 10px;
}

.navbar-brand:hover{
    color: var(--second);
}

.brand-logo{
    width: 145px;
}

.nav-link{
    color: var(--first);
    padding: 5px !important;
    height: 100%;
    font-size: 17px;
    margin-right: 20px;
}

.nav-link:hover{
    color: navajowhite;
}

.nav-item{
    transition: 0.5s;
}

.nav-item:hover{
    /*background-color: var(--first);*/
}

.nav-title{
    /*font-family: Ubuntu, serif;*/
    color: var(--first);
    font-size: 20px;
    font-weight: bold;
    padding-right: 40px;
    text-align: right;
    width: 100%;
    margin: 0;
}

/* title */
.title-wrapper{
    margin-top: 150px;
    text-align: center;
}

.title-wrapper h1{
    color: var(--first);
    font-size: 30px;
    margin-bottom: 25px;
}

.title-wrapper p{
    color: grey;
}

/* market cards */
.card-container{
    padding: 40px 200px;
}

.market-card-wrapper{
    /*border: 1px solid var(--first);*/
    height: 38rem;
    padding: 50px 50px 100px;
}

/* Cards */

.card {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    color: whitesmoke;
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
}

.card img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.9;
    transition: opacity .2s ease-out;
}

.card h2 {
    position: absolute;
    inset: auto auto 30px;
    margin: 0;
    transition: inset .3s .3s ease-out;
    font-weight: normal;
    text-transform: uppercase;
    width: 100%;
    background: #26262680;
    padding: 15px;
}

.card p {
    position: absolute;
    opacity: 0;
    transition: .3s;

    inset: auto auto 110px;
    width: 100%;
    background: #26262680;
    padding: 15px;
}

.card a {
    position: absolute;
    opacity: 0;
    max-width: 80%;
    transition: opacity .3s ease-out;

    inset: auto auto 40px 30px;
    text-decoration: none;
    cursor: pointer;
}

.card:hover h2 {
    inset: auto auto 180px;
    transition: inset .3s ease-out;
}

.card:hover p, .card:hover a {
    opacity: 1;
    transition: opacity .5s .1s ease-in;
}

.card:hover img {
    transition: opacity .3s ease-in;
    opacity: 1;
}

.card-btn{
    padding: 10px;
    background: var(--first);
    border-radius: 4px;
    color: whitesmoke;
    float: right;
}

.card-btn:hover{
    background: navajowhite;
    color: whitesmoke;
}