/*** Font ***/
@font-face {
    font-family: Roboto;
    src: url("../plugin/font/Roboto-Regular.ttf");
}

@font-face {
    font-family: Exo;
    src: url("../plugin/font/Exo2-VariableFont_wght.ttf");
}

:root{
    --first: #23a6d5;
    --second: #e73c7e;

    --yellow: #FEE622;
    --orange: #F49237;
    --grey: #DBDBDB;
    --red: #F6522C;
    --blue: #23a6d5;
    --purple: #760fcb;
    --black: #262626;
    --pink: #b369b8;
}

/**** Specific ***/
/* nav */
.my-navbar{
    font-size: 22px;
    z-index: 100;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0;
}

.navbar-brand{
    width: 150px;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    background-color: white;
    color: var(--first);
    font-family: Exo, serif;
    height: 65px;
    padding-top: 7px;
    transition: 0.5s;
    margin: 0;
}

.navbar-brand:hover{
    color: var(--second);
}

.nav-link{
    color: var(--first);
    padding: 20px 40px !important;
    height: 100%;
}

.nav-link:hover{
    color: whitesmoke;
}

.nav-item{
    transition: 0.5s;
}

.nav-item:hover{
    background-color: var(--first);
    color: whitesmoke;
}