/*** Font ***/
@font-face {
    font-family: Roboto;
    src: url("plugin/font/Roboto-Regular.ttf");
}

:root{
    --first: #23a6d5;
    --second: #e73c7e;

    --yellow: #FEE622;
    --orange: #F49237;
    --grey: #DBDBDB;
    --red: #F6522C;
    --blue: #23a6d5;
    --purple: #760fcb;
    --black: #262626;
    --pink: #b369b8;
}

html body{
    font-family: Roboto, serif;
    padding: 0;
    margin: 0;
}


/*** General ***/
.animate-color{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.half-size-page{
    width: 100%;
    height: 50vh;
}

.one-size-page{
    width: 100%;
    height: 100vh;
}


/**** Specific ***/
.my-navbar{
    font-size: 20px;
    position: fixed;
    z-index: 100;
    top: 100px;
    /*background-color: var(--blue);*/
    padding: 0;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.navbar-brand{
    width: 150px;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    background-color: white;
    color: var(--first);
    font-family: "Agency FB", serif;
    height: 65px;
    padding-top: 10px;
    transition: 0.5s;
    margin: 0;
}

.navbar-brand:hover{
    color: var(--purple);
}

.nav-link{
    color: whitesmoke;
    padding: 18px !important;
}

.nav-link:hover{
    color: whitesmoke;
}

.nav-item{
    transition: 0.5s;
}

.nav-item:hover{
    background-color: var(--second);
    color: whitesmoke;
}


/* cover */
#cover{
    width: 100%;
    height: 100vh;
}

.title-wrap{
    color: white;
    padding: 200px;
    text-align: center;
    height: 100%;
}

.title{
    font-size: 8em;
    font-family: "Agency FB", serif;
}

.subtitle{
    margin: 2em 0 3em;
}

.btn-title{
    border: white 1px solid;
    color: white;
    font-size: 25px;
    transition: 0.5s;
}

.btn-title:hover{
    background: white;
    color: var(--blue);
}

/* content */
#content{
    width: 100%;
}

/* intro */
#intro{
    width: 100%;
    height: 60vh;
    padding: 150px;
    border-bottom: var(--first) 2px solid;
}

.card-intro{
    /*text-align: center;*/
    color: var(--blue);
    padding: 10px;
    border-left: var(--blue) 2px solid
}

.card-title{
    font-weight: 900;
}

.card-lead{
    margin-top: 20px;
    font-size: 20px;
}

.card-link{
    color: var(--blue);
    font-weight: bold;
    transition: 0.8s;
}

.card-link:hover{
    cursor: pointer;
    color: var(--second);
}

/* module */
.module-container{
    height: 110vh;
    padding: 100px;
}

#aichain{
    background: var(--first);
    color: white;
}

.module-title{
    font-family: Arial, serif;
    font-size: 4em;
    border-bottom: 2px solid white;
}

.module-content{
    height: 100%;
}

#promptmanship{
    background: ghostwhite;
    color: var(--second);
}

#promptmanship .module-title{
    font-size: 3.5em;
    float: right;
    border-bottom: 2px solid var(--second);
}

#sapper{
    background: var(--second);
    color: white;
}

/* footer */
#about{
    height: 60vh;
    background: #ecf5ff;
}

#contact{
    height: 40vh;
    background: #004a99;
}